@model List<MyEgitimAkademi_Portfolio.Models.Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Yeteneklerim</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Yetenek Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillID</td>
            <td>@item.SkillTitle</td>
            <td><a onclick="myFunction(@item.SkillID.ToString())" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Service/UpdateSkill/@item.SkillID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Skill/AddSkill" class="btn btn-outline-primary">Yeni Yetenek Girişi</a>

<script>
    function myFunction(id) {
        let text = "Yeteneği silmek istediğine emin misin ?";
        if (confirm(text) == true) {
            location.href = "/Service/DeleteService/" + id;
        } else {
        }
    }
</script>